@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Patrick+Hand+SC&display=swap');

@font-face {
	font-family: signature;
	src: url('../static/fonts/Photographer_Script.ttf');
}

:root {
	--navBarHeight: 80px;
}

.ad-portfolio {
	overflow: hidden;
}

.about .lottie-student {
	width: 100%;
	height: 100%;
}

.nav {
	transform: translate(0px);
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	backdrop-filter: blur(5px);
}

.nav.nav-scroll-up {
	box-shadow: rgb(2 12 27 / 70%) 0px 10px 30px -10px;
	height: var(--navBarHeight);
}

.nav.nav-scroll-down {
	transform: translateY(-80px);
}

.nav.nav-height-dec {
	height: var(--navBarHeight);
}

.lottie-contact {
	position: absolute;
	top: -135px;
	right: 0;
}
